[Unit]
Description=Run sensor script on boot
After=network.target
[Service]
ExecStart=/home/pi/alan-pi-sensor-setup/.env/bin/python /home/pi/alan-pi-sensor-setup/main.py
WorkingDirectory=/home/pi/alan-pi-sensor-setup
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1
[Install]
WantedBy=multi-user.target
